.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    color: inherit;

    &:hover {
        background-color: rgba(0,0,0,.2);
    }

    
}
.btn--small {
    padding: 1em;
}
.btn--tiny {
    padding:.5em 1em;
}
.btn--large {
    padding: 1em 2em;
}
.btn--tab {
    padding: 1.2em 1em;
    font-size: 16px;
}
.btn--tab.active {
    border-bottom: 2px solid var(--primary-color);
}
.btn--toggle {
    padding: .5em 2em;
}
.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}
.btn--rounded {
    border-radius: 40em;
}
.btn--border {
    border: 2px solid var(--text);
}
.btn--wrapper {
    margin-top: 1em;
}