@media (min-width: 567px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
.article__wrapper {
    padding: 1em 0;
}
.article__list {
    border-bottom: 1px solid var(--border);
    margin-bottom: .5em;
    padding: .9em 0;

    &:hover {
        background-color: var(bg-alt);
        border-radius: 11px;
    }
}

.article__out {
    display: none;
}
.article__tag {
    margin-bottom: 4px;
    font-size: 16px;
}

.post__list--title {
    margin-bottom: 8px;
}
.post__list--title .link {
    border-bottom: none;
}
@media (min-width: 900px) {
    .article__list { 
        display: flex;
    }
    .article__out {
        display: block;
        margin-right: .4em;
        order: 2; 

        .link__items {
            list-style: none;
        }
    }
}

   /* article read */
.article__meta span {
    display: inline-block;
}
.article__meta-category {
    margin-right: 1rem;
}
.article__heading {
    margin-bottom: .4rem;
    margin-top: .6rem;
}
.article__heading {
    font-size: 2em;
    max-width: 16em;
}
.article__hero-image {
    width: 100%;
    max-height: 566px;
    object-fit: cover;
    object-position: center;
}
.article__body {


    figure {
        background: transparent;
        border: 0;
        margin-top: 16px;
        margin-bottom: 1em;

        img,video {
            display: block;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07);
            border: 1px solid #e0e0e0;
            border-radius: 4px;
        
            &:hover {
                -webkit-filter: none;
                        filter: none; }
        }

        figcaption {
            padding-top: 8px;
            color: #737373;
            text-align: center; }
     }

     ol,
     ul {
      padding:0;
      margin:1em 0;
      max-width:100%
     }
     ol {
      list-style:none;
      counter-reset:listCounter
     }
     ol>li {
      padding-left:1.75em;
      padding-left:calc(1.65em + .7vw);
      position:relative;
      counter-increment:listCounter;
      margin-bottom:1em
     }
     ol>li::before {
      content:counter(listCounter,decimal-leading-zero);
      font-size:.7em;
      font-weight:700;
      color: var(--primary);
      left:.8em;
      position:absolute;
      font-family:Product Sans,AvenirNext,Avenir,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif
     }
     
     ol ol>li {
      padding-left:2.25em;
      padding-left:calc(1.35em + .7vw)
     }
     ol ol ol>li {
      padding-left:3em;
      padding-left:calc(2.4em + 1.4vw)
     }
     ol[start='0'] {
      counter-reset:listCounter -1
     }
     ol ul li:before {
      content:''
     }
     ol ol {
      margin-left:1em;
      margin-top:0;
      margin-bottom:0
     }
     ol ol>li::before {
      content:counters(listCounter, ".", decimal-leading-zero) " ";
      left:-1.5em
     }

    p {
        font-weight: 400;
        font-size: var(--font-size);
        line-height: 1.7777777778;
    }

    code[class*=language-],
pre[class*=language-] {
 font-family:"Andale Mono","Courier New",monospace;
 font-size: var(--font-size);
 line-height:1.85;
 direction:ltr;
 text-align:left;
 word-spacing:normal;
 -moz-tab-size:4;
 -o-tab-size:4;
 tab-size:4;
 -webkit-hyphens:none;
 -ms-hyphens:none;
 hyphens:none;
 white-space:pre;
 background:var(--bg-alt);
 color: var(--text)
}

   pre[class*=language-] {
    display:block;
    font-size: var(--font-size);
    padding: 1.5rem;
    overflow-x:auto
   }
  pre[class*=language-] {
    margin:2rem calc(50% - 50vw)
   }
  
 pre[class*=language-]>code {
    width:100%;
    max-width:41rem;
    margin-left:auto;
    margin-right:auto;
    display:block
   }
   @media (min-width:940px) {
 pre[class*=language-] {
     padding:1rem 3rem
    }
   }
   @media screen and (min-width:1040px) {
     pre[class*=language-] {
     margin-left:-180px;
     margin-right:-180px;
     border-radius:.5rem
    }
   }
   :not(pre)>code {
    display:inline-block;
    font-family:"Andale Mono","Courier New",monospace;
    background-color:var(--bg-alt);
    border:1px solid var(--border);
    border-radius:.25rem;
    padding:2px 4px;
    margin:0 2px;
    font-size:75%
   }
}