@charset "UTF-8";
@page {
  size: A4; }

@page :left {
  margin-left: 2cm; }

@page :right {
  margin-left: 2cm; }

@media print {
  * {
    color: #000; }
  header, footer {
    display: none; }
  .header-artwork {
p  h {

/*------------------------------------*  #BOX-SIZING
\*------------------------------------*/
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  box-sizing: border-box;
  transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

*, *:before, *:after {
  box-sizing: inherit; }
  

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/*------------------------------------*  #SHARED
\*------------------------------------*/
/**
 * Shared declarations for certain elements.
 */
/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
input,
textarea,
button {
  font-family: inherit; }

textarea {
  resize: none; }

/*------------------------------------*  #PAGE
\*------------------------------------*/
/**
 * Page-level styling (e.g. HTML and BODY elements).
 */
 :root {
    --normal:400;
    --semi:500;
    --bold:600;
    --font:Gibson,sans-serif;
    --font-size: 15px;
    --primary-color: 0,0,225;
    --primary: rgb(var(--primary-color));
    --primary--alt: rgba(var(--primary-color),.4);
    --position: fixed;
    --top-margin: 96px;
    --white: #fff;
   }

html {
  font-family: var(--font);
font-weight: var(--normal);
color: var(--text);
font-size: 15px;
transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86)
 }
  
  body {
   background-color: var(--bg); 
   overflow-x: hidden;
   
  }

  
    #main {
      margin-top: var(--top-margin)  
   
  } 
  

  
 