:root {
    --text: ;
    --text-alt: ;
    --border: rgba(0,0,0,.1);
    --bg: #ffffff;
    --bg-alt: #f7f9fa;
}  
@media(prefers-color-scheme: dark) {
    :root {
    --text: #ffffff;
    --text-alt: #8899a6;
    --border: rgba(255,255,255,.1);
    --bg: #15202b;
    --bg-alt: #192734;
    }
}


 [data-theme="Default"] {
    --text:  #0f1419;
    --text-alt:  #5b7083;
    --border: rgba(0,0,0,.1);
    --bg: #ffffff;
    --bg-alt: #f7f9fa;
 }

 [data-theme="Dim"] {
    --text:  #ffffff;
    --text-alt:  #8899a6;
    --border: rgba(255,255,255,.1);
    --bg: #15202b;
    --bg-alt: #192734;
 }

 [data-theme="Light Out"] {
    --text:  #ffffff;
    --text-alt:  #ffffff;
    --border: rgba(225,225,225,.1);
    --bg: #000000;
    --bg-alt: #15181c;
 }
