:root {
    --text: #222126;
    --text-dark: #777;;
    --border: rgba(0,0,0,.1);
    --primary: #665df5;
    --secondary: #6ad1e0;
    --primary-dark: #382cf1;
    --bg: #ffffff;
    --bg-alt: #f8f8f8;
}  


 [data-theme="default"] {
    --text: #222126;
    --text-dark: #777;;
    --border: rgba(0,0,0,.1);
    --primary: #665df5;
    --secondary: #6ad1e0;
    --primary-dark: #382cf1;
    --bg: #ffffff;
    --bg-alt: #f8f8f8;
 }

 [data-theme="dark"] {
    --text: #fffffe;
    --text-dark: #94a1b2;
    --border: rgba(255,255,255,.1);
    --primary: #ff8906;
    --secondary: #2cb67d;
    --primary-dark: #75757e;
    --bg: #16161a;
    --bg-alt: #242629;
 }

 [data-theme="light"] {
    --text: #020826;
    --text-dark: #716040;
    --border: rgba(0,0,0,.1);
    --primary: #8c7851;
    --secondary: #f25042;
    --primary-dark: #eaddcf;
    --bg: #f9f4ef;
    --bg-alt: #fffffe;
 }

 [data-theme="fame"] {
    --text: #0d0d0d;
    --text-dark: #2a2a2a;
    --border: rgba(0,0,0,.1);
    --primary: #8c7851;
    --secondary: #f25042;
    --primary-dark: #eaddcf;
    --bg: #eff0f3;
    --bg-alt: #ffffff;
 }

 [data-theme="dark-blue"] {
    --text: #fffffe;
    --text-dark: #b8c1ec;
    --border: rgba(255,255,255,.1);
    --primary: #fffffe;
    --secondary: #eebbc3;
    --primary-dark: #eaddcf;
    --bg: #232946;
    --bg-alt: #ffffff;
 }
